.outer-frame {
    background-color: #996629;
    @apply w-screen p-6 h-fit min-h-screen overscroll-none;
    @apply flex flex-col; /* make item stretch to container while still able to expand */

}

.inner-frame {
    background-color: #e7a664;
    @apply w-full flex-1;
    @apply flex flex-row flex-wrap p-6 gap-6 place-content-start;
}

.box-dimension {
    width: 18em;
    height: 18em;
}

.notice {
    background-color: #fff38f;
    box-shadow: 0px 5px 10px -3px black;
    @apply flex flex-col relative;
}

.text-area {
    background: transparent;
    resize: none;
    overflow: hidden;
    @apply w-full h-full p-2 text-xl;
    @apply focus:outline-none;
}

.add {
    /* background-color: rgb(255, 202, 202); */
    @apply border-8 border-sky-800 border-dashed;
    border-radius: 2.4em;
    @apply cursor-pointer;
    @apply flex flex-row place-content-center place-items-center;
}

.plus-sign {
    @apply text-sky-800;
}

.header {
    @apply flex flex-row;
}

.counter {
    @apply place-self-end;
    @apply text-sm text-gray-500;
}

.deleter {
    @apply text-red-500 absolute;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
}