.outer-frame {
    background-color: #996629;
    @apply w-screen p-6 h-fit min-h-screen overscroll-none;
    @apply flex flex-col; /* make item stretch to container while still able to expand */

}

.inner-frame {
    background-color: #e7a664;
    @apply w-full flex-1;
}

.start-memo {
    @apply flex flex-row flex-wrap p-6 gap-6 place-content-start;
}

.center-memo {
    @apply flex flex-row flex-wrap place-content-center place-items-center;
}

.box-dimension {
    width: 18em;
    height: 18em;
}

.memo {
    background-color: #fff38f;
    box-shadow: 0px 5px 10px -3px black;
    @apply flex flex-col relative p-2;
}

.text-area {
    background: transparent;
    resize: none;
    overflow: hidden;
    @apply w-full h-full text-xl;
    @apply focus:outline-none;
}

.add {
    /* background-color: rgb(255, 202, 202); */
    @apply border-8 border-sky-800 border-dashed;
    border-radius: 2.4em;
    @apply cursor-pointer;
    @apply flex flex-row place-content-center place-items-center;
}

.plus-sign {
    @apply text-sky-800;
}

.header {
    @apply flex flex-row justify-between items-center;
}

.counter {
    @apply place-self-end;
    @apply text-sm text-gray-500;
}

.cross-container {
    @apply text-red-500 absolute;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
}

.title {
    @apply text-lg focus:outline-none font-bold bg-transparent focus:border-b-2 border-black;
}

.notice-corner {
    bottom: 0;
    right: 0;
    border-width: 20px;
    border-color: #c9b816 rgba(0, 0, 0, 0.566) rgba(0, 0, 0, 0.566) #c9b816; 
    @apply absolute focus:outline-none;
}

.return-memo {
    @apply place-items-center;
}

.e404 {
    font-size: 60px;
}

.e404-header {
    font-size: 20px;
}

.e404-return {
    @apply mt-12 p-2 rounded-full;
}